{% block header_profile %}
<!-- User Account: style can be found in dropdown.less -->
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="/static/cache/eureka/theme-bootstrap-adminlte/main/img/avatar0{{ currentUser.getGender() }}.png" class="user-image" alt="Img">

        <span class="hidden-xs">{{ currentUser.getName() }}</span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">

            {% block header_block_user_image %}
                <img src="/static/cache/eureka/theme-bootstrap-adminlte/main/img/avatar0{{ currentUser.getGender() }}.png" class="img-circle" alt="Img">
            {% endblock %}

            <p>
                {{ currentUser.getName() }}
            </p>
        </li>
        <!-- Menu Body -->
        <li class="user-body">
            <!--div class="row">
                <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                </div>
            </div-->
            <!-- /.row -->
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
            <!--div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
            </div-->
            <div class="pull-right">
                <a href="{{ path('user_logout') }}" class="btn btn-default btn-flat">Sign out</a>
            </div>
        </li>
    </ul>
</li>
{% endblock %}
